<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>全部礼物</title>
		<link href="css/adminStyle.css" rel="stylesheet" type="text/css" />
		<script src="js/jquery.js"></script>
		<script src="js/public.js"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.js" type="text/javascript" charset="utf-8"></script>
		
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div id="box">
			<div class="wrap">
				<div class="page-title">
					<span class="modular fl"><i class="add_user"></i><em>全部礼物</em></span>
				</div>
				<table class="list-style" style="text-align: center;">
					<tr>
						<td>类型</td>
						<td>价格</td>
						<td>图片</td>
						<td>编辑</td>
					</tr>
					<tr v-for="(item,index) in list" :key="index">
						<td>
							{{item.gift_name}}
						</td>
						<td>
							{{item.gift_price}}
						</td>
						<td>
							<img :src="item.gift_img" style="width: 150px;height: 150px;">
						</td>
						<td>
							<a title="编辑" @click="compile(index)" data-toggle="modal" data-target="#myModal">
								<span>编辑</span>
							</a>
							<a title="删除" @click="del(item.id)">
								<span>删除</span>
							</a>
						</td>
					</tr>
					<tr>
						<td colspan="5">
							<a style="margin: 50%;" @click="add()"  data-toggle="modal" data-target="#myModal">
								<span class="glyphicon glyphicon-plus"></span>
							</a>
						</td>
					</tr>
				</table>
			</div>
			<!-- 模态框 -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel">
								数据编辑
							</h4>
						</div>
						<div class="modal-body">
							<form role="form" :action= "this.url+'add_gift.php'" method="post" enctype="multipart/form-data">
								<div class="form-group">
									<input type="hidden" v-model="id" name="id" id="" value="" />
									<label>类型</label>
									<input class="form-control" type="text" name="gift_name" v-model="gift_name" placeholder="请输入礼物名字" />
									<label>价格</label>
									<input class="form-control" type="text" name="gift_price" v-model="gift_price" placeholder="请输入价格"  />
									<label>图片</label>
									<input type="file" name="gift_img" />
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭
									</button>
									<input type="submit" name="sub" value="提交更改" class="btn btn-primary" />
								</div>
							</form>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal -->
			</div>
		</div>
	</body>
	<script type="text/javascript">
		// 防止用户从地址栏直接进入
		if(window.sessionStorage.getItem('user')==''|| window.sessionStorage.getItem('user')==null){
			window.location.href="index.html"
		}
		new Vue({
			el: '#box',
			data: {
				// url:'http://192.168.7.108/dream_to-vote/php/',
				 url:"../",
				list: [],
				index:'',
				id:'',
				gift_name:'',
				gift_price:''
			},
			methods: {
				// 模态框
				compile(index) {
					console.log(index)
					this.index = index
					this.id = this.list[index].id
					console.log(this.id)
					this.gift_name = this.list[index].gift_name // 礼物名字
					this.gift_price = this.list[index].gift_price // 价格
					// console.log(this.gift_name)
				},
				// 删除
				del(id){
					console.log(id)
					let url = this.url+'del_gift.php?id=' + id;
					axios.get(url).then(res => {
						if(res.data=='ok'){
							alert('删除成功')
							this.load()
						}else{
							alert('删除失败')
						}
					})
				},
				// 添加
				add() {
					this.list.push({})
					console.log(this.list)
					this.id='add'
					this.gift_name = '' // 礼物名字
					this.gift_price = '' // 价格
					this.load()
				},
				// 初始化图片
				load() {
					let url = this.url+"gift.php?openid=openid"
					axios.get(url).then(res => {
						console.log(res)
						this.list = res.data
						console.log(this.list)
					})
				}
			},
			mounted() {
				this.load()
			}
		})
	</script>
</html>
