<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>角色</title>
		<link href="css/adminStyle.css" rel="stylesheet" type="text/css" />
		<script src="js/jquery.js"></script>
		<script src="js/public.js"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.js" type="text/javascript" charset="utf-8"></script>
		
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div id="box">
			<div class="wrap">
				<div class="page-title">
					<span class="modular fl"><i class="add_user"></i><em>角色</em></span>
				</div>
				<table class="list-style" style="text-align: center;">
					<tr>
						<!-- <td style="width: 7%;">类型</td>
						<td style="width: 13%;">电影名</td> -->
						<td style="width: 10%;">角色名</td>
						<td style="width: 10%;">图片</td>
						<td style="width: 10%;">番位</td>
						<td>介绍</td>
						<td style="width: 10%;">编辑</td>
					</tr>
					<tr v-for="(item,index) in list" :key="index">
						<!-- <td>{{type}}</td>
						<td>{{title}}</td> -->
						<td>
							{{item.role_name}}
							<!-- <input type="text" name="" id="" :value="" /> -->
						</td>
						<td>
							<img :src="item.role_img" style="width: 150px;height: 150px;">
						</td>
						<td>
							{{item.role_number}}
							<!-- <input type="text" name="" id="" :value="item.gift_price" /> -->
						</td>
						<td style="text-align: left;">
							{{item.role_con}}
							<!-- <input type="text" name="" id="" :value="item.gift_img" /> -->
						</td>
						<td>
							<a title="编辑" @click="compile(index)" data-toggle="modal" data-target="#myModal">
								<span>编辑</span>
							</a>
							<a title="删除" @click="del(item.id)">
								<span>删除</span>
							</a>
						</td>
					</tr>
					<tr>
						<td colspan="5">
							<input  type="button" v-if="this.current_page != 1" value="上一页" @click="up()"/>
							<div style="display: inline;margin: 0 5px 0 20px;">一共{{this.page_count}}页</div>
							<div style="display: inline;">当前<input type="text" style="width: 25px;border: none;" v-model="current_page" @Blur="blur" />页</div>
							<input v-if="this.current_page !=this.page_count" style="margin: 0 20px;" style="margin: 50%;" type="button" value="下一页" @click="down()"/>
							<a @click="add()" data-toggle="modal" data-target="#myModal">添加
								<span class="glyphicon glyphicon-plus"></span>
							</a>
						</td>
					</tr>
				</table>
			</div>
			<!-- 模态框 -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel">
								数据编辑
							</h4>
						</div>
						<div class="modal-body">
							<form role="form" :action="this.url+'add_roles.php'" method="post" enctype="multipart/form-data">
								<div class="form-group">
									<input type="hidden" v-model="id" name="id" id="" value="" />
									<label>角色名</label>
									<input class="form-control" type="text" name="role_name" v-model="role_name" placeholder="请输入礼物名字" />
									<label>番位</label>
									<input class="form-control" type="text" name="role_number" v-model="role_number" placeholder="请输入价格"  />
									<label>介绍</label>
									<textarea style="width: 100%;" rows="6" cols="" name="role_con" v-model="role_con"></textarea>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭
									</button>
									<input type="submit" name="sub" value="提交更改" class="btn btn-primary" />
								</div>
							</form>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal -->
			</div>
		</div>
	</body>
	<script type="text/javascript">
		// 防止用户从地址栏直接进入
		if(window.sessionStorage.getItem('user')==''|| window.sessionStorage.getItem('user')==null){
			window.location.href="index.html"
		}
		new Vue({
			el: '#box',
			data: {
				url:'http://192.168.7.108/dream_to-vote/php/',
				list: [],
				index:'',
				id:'',
				role_name:'',
				role_number:'',
				role_con:'',
				// type:'',
				// title:'',
				current_page:1,  // 当前页
				page_size:5, // 条数
				count:'',  // 总条数
				page_count:'',  // 总页数
			},
			methods: {
				// 模态框
				compile(index) {
					console.log(index)
					this.index = index
					this.id = this.list[index].id
					console.log(this.id)
					this.role_name = this.list[index].role_name // 角色名
					this.role_number = this.list[index].role_number // 番位
					this.role_con = this.list[index].role_con // 介绍
					// console.log(this.gift_name)
				},
				// 删除
				del(id){
					console.log(id)
					let url = this.url+'del_roles.php?id=' + id;
					axios.get(url).then(res => {
						if(res.data=='ok'){
							alert('删除成功')
							this.load()
						}else{
							alert('删除失败')
						}
					})
				},
				// 添加
				add() {
					this.list.push({})
					console.log(this.list)
					this.id='add'
					this.role_name = '' // 角色名
					this.role_number = '' // 番位
					this.role_con = '' // 介绍
				},
				blur(){
					// Math.ceil(this.count/this.page_size)   总页数
					// console.log(Math.ceil(this.count/this.page_size))
					var a=Math.ceil(this.count/this.page_size)
					console.log(a,this.current_page)
					if(Number(this.current_page)>a){
						alert('一共'+this.page_count+'页')
					}else{
						console.log(a,Number(this.current_page))
						this.current_page=Number(this.current_page)
						this.load()
					}
					
				},
				// 上一页
				up(){
					if(this.current_page >0){
						this.current_page--
						this.load()
					}else{
						alert('当前第一页')
					}
				},
				// 下一页
				down(){
					if(this.current_page <= this.page_count){
						this.current_page++
						this.load()
					}else{
						alert('最后一页了')
					}
				},
				// 初始化图片
				load() {
					let url = this.url+"roles.php?page_size="+this.page_size+"&page="+this.current_page
					axios.get(url).then(res => {
						// console.log(res)
						// this.type=res.data.type
						// this.title=res.data.title
						this.count=res.data.count
						this.list = res.data.all
						this.page_count=Math.ceil(this.count/this.page_size)
						// console.log(this.page_count)
					})
				}
			},
			mounted() {
				this.load()
			}
		})
	</script>
</html>
